doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    title Document
// <header></header>
main
    section
        h1 MAIN HEADING
        p Hello, nice meeting you. My name is Mr. #{name}
        P This message: #{message}
        button Click Me!
// <footer></footer>
